div.ex1 {
    border: 1px solid rgb(4, 0, 255); 
    margin: 2px;
    background-color: rgb(21, 199, 21);
  }

  div.ex2 {
    border: 1px solid rgb(4, 0, 255); 
    margin: 2px;
    background-color: white;
  }

  div.ex4 {
    border: 1px solid rgb(4, 0, 255); 
    margin: 2px;
    background-color: white;
  }

  div.ex5 {
    border: 1px solid rgb(4, 0, 255); 
    margin: 2px;
    background-color: white;
  }


 