<!--
<dx-popup maxWidth="600" [showTitle]="false" title="Filter" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="popupVisible">


    <app-tim-kiem-loai1 [(tuNgayVal)]="tuNgayVal" [khois]="khois" [(khoiVal)]="khoiVal" (searchChange)="loadServeData">
    </app-tim-kiem-loai1>

    <div style="position: absolute;right: 50px;bottom: 10px; ">
        <dx-button class="button-info" with="200" text="   Ok  " (onClick)="loadServeData()">
        </dx-button>
    </div>

    <div style="position: absolute;right: 150px;bottom: 10px;  ">
        <dx-button class="button-info" text="Cancel" (onClick)="close()">
        </dx-button>
    </div>
</dx-popup>
-->



<dx-popup maxWidth="600" [showTitle]="false" title="Filter" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="popupVisible">



    <div class="dx-fieldset">

        <div class="dx-field">
            <div class="dx-field-label">Từ ngày</div>
            <div class="dx-field-value">
                <dx-date-box [(value)]="tuNgayVal" type="date">
                </dx-date-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Khối</div>
            <div class="dx-field-value">
                <dx-select-box [dataSource]="donViCoSos" displayExpr="ten_nh" valueExpr="ma_nh" [(value)]="khoiVal">
                </dx-select-box>
            </div>
        </div>


    </div>
    <div style="position: absolute;right: 50px;bottom: 10px; ">
        <dx-button class="button-info" with="200" text="   Ok  " (onClick)="loadServeData()">
        </dx-button>
    </div>

    <div style="position: absolute;right: 150px;bottom: 10px;  ">
        <dx-button class="button-info" text="Cancel" (onClick)="close()">
        </dx-button>
    </div>
</dx-popup>

<div class="w3-row w3-sand ">
    <div class="w3-col l6 m12 s12 ">
        <app-dv0301 [doanhthuxuathoadonngay]="doanhthuxuathoadonngay">
        </app-dv0301>
    </div>
    <div class="w3-col l6 m12 s12 ">
        <app-dv0302 [doanhthuxuathoadonluyKe]="doanhthuxuathoadonluyKe" [tyLeHoanThanh]="tyLeHoanThanh">
        </app-dv0302>
    </div>

</div>

<!-- <div class="w3-row w3-sand ">
    <div class="w3-col l6 m12 s12 ">
        <div class="w3-panel">
            <div class="w3-border w3-border-red  w3-dark-grey">
                <div class="w3-panel">
                    <div>
                        <div>
                            <h5>Doanh thu xuất hóa đơn ngày : {{doanhthuxuathoadonngay| number}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="w3-col l6 m12 s12 ">
        <div class="w3-panel">
            <div class="w3-border w3-border-red  w3-dark-grey">
                <div class="w3-panel">
                    <div class="w3-cell-row">
                        <div class="w3-container w3-cell w3-cell-middle">
                            <h5>Lũy kế: {{doanhthuxuathoadonluyKe| number}}</h5>
                        </div>
                        <div class="w3-container w3-cell w3-cell-middle">
                            <h5>Hoàn thành: {{tyLeHoanThanh| number}} </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div> -->



<div class="w3-row">
    <div class="w3-col l6 m12 s12">

        <app-dv03-bd09 [dataSource]="CP_WBI_RO_01_09" [width]="rongChart1" [height]="caoChart1">
        </app-dv03-bd09>






    </div>
    <div class="w3-col l6 m12 s12">
        <div class="w3-row">

            <app-dv03-bd10 [dataSource]="CP_WBI_RO_01_10" [width]="rongChart2" [height]="caoChart2">
            </app-dv03-bd10>



        </div>

        <div class="w3-row">

            <app-dv03-bd11 [dataSource]="CP_WBI_RO_01_11" [width]="rongChart3" [height]="caoChart3">
            </app-dv03-bd11>



        </div>

        <div class="w3-row">

            <app-dv03-bd12 [dataSource]="CP_WBI_RO_01_12" [width]="rongChart4" [height]="caoChart4">
            </app-dv03-bd12>



        </div>


    </div>

</div>






<div class="w3-cell-row">

    <div class="w3-container w3-cell w3-cell-middle">
        <dx-tabs [dataSource]="danhSachDonVis" [width]="barWidth" [scrollByContent]="true" [showNavButtons]="true"
            (onItemClick)="filterDonVi($event)"></dx-tabs>
    </div>

    <div class="w3-container w3-cell w3-cell-middle">

        <dx-button icon="search" (onClick)="showFilter()">
        </dx-button>

    </div>

</div>

<div class="w3-cell-row">

    <div class="w3-container w3-cell w3-cell-middle">
        <dx-tabs [dataSource]="danhSachLoaiHinhs" [width]="barWidth" [scrollByContent]="true" [showNavButtons]="true"
            (onItemClick)="filterLoaiHinh($event)"></dx-tabs>
    </div>



</div>
<dx-speed-dial-action icon="search" label="Lọc" [index]="1" (onClick)="showFilter()">
</dx-speed-dial-action>