<div class="ExBoder14">
  <dx-box direction="col" width="100%" [height]="Height">

    <dxi-item class="rect14 demo-light-14" [ratio]="1">


      <dx-box direction="row" width="100%" height="100%">
        <dxi-item  [ratio]="1">
          DT nội thất/xe LK 
        </dxi-item>
        <dxi-item  [ratio]="1">
          {{DTNoiThatTrenXeLK| number}}
        </dxi-item>

      </dx-box>



    </dxi-item>

    <dxi-item class="" [ratio]="1">


      <dx-box direction="row" width="100%">
        <dxi-item class="rect demo-dark" [ratio]="1">
          <h5>Khuyến mại</h5>
        </dxi-item>
        <dxi-item class="rect demo-light" [ratio]="1">
          <p> {{NoiThatKhuyenMai| number}} </p>
        </dxi-item>

      </dx-box>






    </dxi-item>

    <dxi-item class="" [ratio]="1">




      <dx-box direction="row" width="100%">
        <dxi-item class="rect demo-dark" [ratio]="1">
          <h5>Bán ngoài</h5>
        </dxi-item>
        <dxi-item class="rect demo-light" [ratio]="1">
          <p> {{NoiThatBanNgoai| number}} </p>
        </dxi-item>

      </dx-box>



  

    </dxi-item>

  </dx-box>

</div>