<div class="ExBoder">
    <dx-box direction="row" width="100%" [height]="40">
        <dxi-item class="rect demo-light" [ratio]="1">
            <p>Lũy kế: {{luyKe| number}}</p>
        </dxi-item>

        <dxi-item class="rect demo-light" [ratio]="1">
            <p>Hoàn thành: {{tyLeHoanThanh| number}} </p>
        </dxi-item>


    </dx-box>

</div>

<!-- <div class="w3-panel">
<div class="w3-cell-row">
    <div class="w3-container w3-cell w3-cell-middle"> 
        <p>Lũy kế: {{luyKe}}</p>
    </div>
    <div class="w3-container w3-cell w3-cell-middle"> 
        <p>Hoàn thành: {{tyLeHoanThanh}} </p>
    </div>
</div>
</div>
 -->