<div class="ExBoder">
    <dx-box direction="col" width="100%" [height]="height">
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <h6>LƯỢT XE DỊCH VỤ</h6>
            </dxi-item>
        
            <dxi-item class="rect demo-light" [ratio]="1">
                <h6>{{dataSource.thuc_hien_14| number}}</h6>
            </dxi-item>
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <p>So KH: {{dataSource.htkh_14| number}}</p>
            </dxi-item>
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <p>So CK: {{dataSource.so_ck_14| number}}</p>
            </dxi-item>
       
    </dx-box>

</div>