<div class="ExBoder13p2">
    <dx-box
        direction="row"
        width="100%"
        [height]="40">
        <dxi-item
            class="rect13p2 demo-light-13p2"
            [ratio]="1">
            DT bao hiểm : {{TongDoanhThuBaoHiem| number}}
        </dxi-item>

        <dxi-item
            class="rect13p2 demo-light-13p2"
            [ratio]="1">
            <p>Tỷ lệ khai thác: {{TyLeKhaiThacBaoHiem| number}}</p>
        </dxi-item>

        <dxi-item
        class="rect13p2 demo-light-13p2"
        [ratio]="1">
        <p>Tỷ lệ tái tục: {{TyLeTaiTucBaoHiem| number}}</p>
    </dxi-item>
    </dx-box>

</div>
