<div class="w3-display-container w3-deep-orange" style="height:45px;">
    <div class="w3-display-left">
      <h6>Tồn kho chung</h6>
    </div>
    <div class="w3-display-right">
      <dx-button
      class="button-info"
      text="Filter"
      (onClick)="showFilter()">
      </dx-button>
    </div>
  </div>
  



<dx-popup
maxWidth = "600"
[showTitle]="true"
title="Filter"
[dragEnabled]="false"
[closeOnOutsideClick]="false"
[(visible)]="popupVisible">


<div class="dx-fieldset">
  <div class="dx-field">
      <div class="dx-field-label">Date</div>
      <div class="dx-field-value">
          <dx-date-box
              [value]="ngayVal"
              type="date">
          </dx-date-box>
      </div>
  </div>

  <div class="dx-field">
      <div class="dx-field-label">Khối</div>
      <div class="dx-field-value">
          <dx-select-box 
          [dataSource]="donViCoSos"
          displayExpr="ten_nh"
          valueExpr="ma_nh"
          [(value)] = "khoiVal"
            >

          </dx-select-box>
      </div>
  </div>

  <div class="dx-field">
    <div class="dx-field-label">Cấp</div>
    <div class="dx-field-value">
        <dx-select-box 
        [dataSource]="capCbxd"
        displayExpr="Ten"
        valueExpr="Ma"
        [(value)] = "capVal"
        >
        </dx-select-box>
    </div>
</div>

</div>
<div style="position: absolute;right: 50px;bottom: 10px; ">
  <dx-button
  class="button-info"
  with = "200"
  text="   Ok  "
  (onClick)="fillData()">
  </dx-button>
</div>

<div style="position: absolute;right: 150px;bottom: 10px;  ">
  <dx-button
  class="button-info"
  text="Cancel"
  (onClick)="close()">
  </dx-button>
</div>
</dx-popup>



<dx-data-grid 
id="gridDetail"
[showColumnHeaders]="true"
[dataSource]="reportDataDetail"
[showBorders]="true"
[focusedRowEnabled]="false"
[focusedRowIndex]="0"
[columnHidingEnabled]="false"
[columnAutoWidth]="true"
[showColumnLines]="true"
[showRowLines]="true"
(onRowPrepared)="onRowPrepared($event)"
[repaintChangesOnly]="true"
(onCellPrepared)="onCellPrepared($event)"
[rowAlternationEnabled]="true"
>

<dxi-column dataField="ColTen"   caption= "Mục"> </dxi-column>
<dxi-column dataField="Tong"   caption= "Total"> </dxi-column>
<dxi-column dataField="Col0" headerCellTemplate="titleHeaderTemplate0" [(visible)]="arrVisible[0]"> </dxi-column>
<dxi-column dataField="Col1" headerCellTemplate="titleHeaderTemplate1" [(visible)]="arrVisible[1]"> </dxi-column>
<dxi-column dataField="Col2" headerCellTemplate="titleHeaderTemplate2" [(visible)]="arrVisible[2]"> </dxi-column>
<dxi-column dataField="Col3" headerCellTemplate="titleHeaderTemplate3" [(visible)]="arrVisible[3]"> </dxi-column>
<dxi-column dataField="Col4" headerCellTemplate="titleHeaderTemplate4" [(visible)]="arrVisible[4]"> </dxi-column>
<dxi-column dataField="Col5" headerCellTemplate="titleHeaderTemplate5" [(visible)]="arrVisible[5]"> </dxi-column>
<dxi-column dataField="Col6" headerCellTemplate="titleHeaderTemplate6" [(visible)]="arrVisible[6]"> </dxi-column>
<dxi-column dataField="Col7" headerCellTemplate="titleHeaderTemplate7" [(visible)]="arrVisible[7]"> </dxi-column>
<dxi-column dataField="Col8" headerCellTemplate="titleHeaderTemplate8" [(visible)]="arrVisible[8]"> </dxi-column>
<dxi-column dataField="Col9" headerCellTemplate="titleHeaderTemplate9" [(visible)]="arrVisible[9]"> </dxi-column>
<dxi-column dataField="Col10" headerCellTemplate="titleHeaderTemplate10" [(visible)]="arrVisible[10]"> </dxi-column>
<dxi-column dataField="Col11" headerCellTemplate="titleHeaderTemplate11" [(visible)]="arrVisible[11]"> </dxi-column>
<dxi-column dataField="Col12" headerCellTemplate="titleHeaderTemplate12" [(visible)]="arrVisible[12]"> </dxi-column>
<dxi-column dataField="Col13" headerCellTemplate="titleHeaderTemplate13" [(visible)]="arrVisible[13]"> </dxi-column>
<dxi-column dataField="Col14" headerCellTemplate="titleHeaderTemplate14" [(visible)]="arrVisible[14]"> </dxi-column>
<dxi-column dataField="Col15" headerCellTemplate="titleHeaderTemplate15" [(visible)]="arrVisible[15]"> </dxi-column>

<div *dxTemplate="let info of 'titleHeaderTemplate'">
<p style="font-size:16px">{{info.column.caption}}</p>
</div>

<div *dxTemplate="let info of 'titleHeaderTemplate0'">
    <div>{{arrHeader[0]}}</div>
</div>

<div *dxTemplate="let info of 'titleHeaderTemplate1'">
    <div>{{arrHeader[1]}}</div>
</div>


<div *dxTemplate="let info of 'titleHeaderTemplate2'">
    <div>{{arrHeader[2]}}</div>
</div>

<div *dxTemplate="let info of 'titleHeaderTemplate3'">
    <div>{{arrHeader[3]}}</div>
</div>

<div *dxTemplate="let info of 'titleHeaderTemplate4'">
    <div>{{arrHeader[4]}}</div>
</div>

<div *dxTemplate="let info of 'titleHeaderTemplate5'">
    <div>{{arrHeader[5]}}</div>
</div>

<div *dxTemplate="let info of 'titleHeaderTemplate6'">
    <div>{{arrHeader[6]}}</div>
</div>

<div *dxTemplate="let info of 'titleHeaderTemplate7'">
    <div>{{arrHeader[7]}}</div>
</div>
<div *dxTemplate="let info of 'titleHeaderTemplate8'">
    <div>{{arrHeader[8]}}</div>
</div>
<div *dxTemplate="let info of 'titleHeaderTemplate9'">
    <div>{{arrHeader[9]}}</div>
</div>
<div *dxTemplate="let info of 'titleHeaderTemplate10'">
    <div>{{arrHeader[10]}}</div>
</div>

</dx-data-grid>


<!--
<dx-nav-bar
    [dataSource]="navBarData"
    (onItemClick)="selectionChanged($event)"
    [selectedIndex]="0"
></dx-nav-bar>
-->