<div class="long-title">
    <p>BÁO CÁO BÁN HÀNG THÁNG CHI TIẾT - Từ ngày {{this.tuNgayVal|date: 'dd-MM-yyyy'}} đến ngày {{this.denNgayVal|date:
        'dd-MM-yyyy'}}</p>
</div>

<dx-popup maxWidth="600" [showTitle]="true" title="Filter" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="popupVisible">

    <div class="dx-fieldset">



        <div class="dx-field">
            <div class="dx-field-label">Từ ngay</div>
            <div class="dx-field-value">
                <dx-date-box [(value)]="tuNgayVal" type="date">
                </dx-date-box>
            </div>
        </div>


        <div class="dx-field">
            <div class="dx-field-label">Đến ngày</div>
            <div class="dx-field-value">
                <dx-date-box [(value)]="denNgayVal" type="date">
                </dx-date-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Khối</div>
            <div class="dx-field-value">
                <dx-select-box [dataSource]="donViCoSos" displayExpr="ten_nh" valueExpr="ma_nh" [(value)]="khoiVal">

                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Cấp</div>
            <div class="dx-field-value">
                <dx-select-box [dataSource]="capCbxd" displayExpr="Ten" valueExpr="Ma" [(value)]="capVal">
                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Loại xe lô</div>
            <div class="dx-field-value">
                <dx-check-box [(value)]="isLoaiXeLo"></dx-check-box>
            </div>
        </div>

    </div>
    <div style="position: absolute;right: 50px;bottom: 10px; ">
        <dx-button class="button-info" with="200" text="   Ok  " (onClick)="fillData()">
        </dx-button>
    </div>

    <div style="position: absolute;right: 150px;bottom: 10px;  ">
        <dx-button class="button-info" text="Cancel" (onClick)="close()">
        </dx-button>
    </div>
</dx-popup>





<dx-data-grid id="gridDetail" [height]="gridHeight" [showColumnHeaders]="true" [dataSource]="reportDataFilter"
    [showBorders]="true" [focusedRowEnabled]="false" [focusedRowIndex]="0" [columnHidingEnabled]="false"
    [columnAutoWidth]="false" [showColumnLines]="true" [showRowLines]="true" (onRowPrepared)="onRowPrepared($event)"
    [repaintChangesOnly]="true" (onCellPrepared)="onCellPrepared($event)" [rowAlternationEnabled]="false">

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-scrolling mode="standard">
        <!-- or "virtual" | "infinite" -->
    </dxo-scrolling>

    <dxo-sorting mode="none">
        <!-- or "multiple" | "none" -->
    </dxo-sorting>


    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

    <dxo-sorting mode="none">
        <!-- or "multiple" | "none" -->
    </dxo-sorting>

    <dxi-column dataField="Ma_so" [width]="200" [fixed]="true" caption="Kiểu xe"
        headerCellTemplate="titleHeaderTemplate"> </dxi-column>


    <dxi-column dataField="TotalDV" [minWidth]="rongMacDinh" caption="IDMC" format="#,##0.#"
        headerCellTemplate="titleHeaderTemplate6"> </dxi-column>

    <dxi-column [(visible)]="viewT"  dataField="DV01" [minWidth]="rongMacDinh" caption="TMD" format="#,##0.#"
        headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
    <dxi-column [(visible)]="viewT" dataField="DV02" [minWidth]="rongMacDinh" caption="TTX" format="#,##0.#"
        headerCellTemplate="titleHeaderTemplate1"> </dxi-column>
    <dxi-column [(visible)]="viewT" dataField="DV03" [minWidth]="rongMacDinh" caption="TIHD" format="#,##0.#"
        headerCellTemplate="titleHeaderTemplate2"> </dxi-column>
    <dxi-column [(visible)]="viewT" dataField="DV04" [minWidth]="rongMacDinh" caption="TBN" format="#,##0.#"
        headerCellTemplate="titleHeaderTemplate3"> </dxi-column>
    <dxi-column [(visible)]="viewT" dataField="DV05" [minWidth]="rongMacDinh" caption="TTS" format="#,##0.#"
        headerCellTemplate="titleHeaderTemplate4"> </dxi-column>
    <dxi-column [(visible)]="viewT" dataField="DV06" [minWidth]="rongMacDinh" caption="TPT" format="#,##0.#"
        headerCellTemplate="titleHeaderTemplate5"> </dxi-column>

        <dxi-column [(visible)]="viewF" dataField="DV01" [minWidth]="rongMacDinh" caption="TLF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
            <dxi-column [(visible)]="viewF" dataField="DV02" [minWidth]="rongMacDinh" caption="TXF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate1"> </dxi-column>
            <dxi-column [(visible)]="viewF" dataField="DV03" [minWidth]="rongMacDinh" caption="HNF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate2"> </dxi-column>
            <dxi-column [(visible)]="viewF" dataField="DV04" [minWidth]="rongMacDinh" caption="LBF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate3"> </dxi-column>
            <dxi-column  [(visible)]="viewF"dataField="DV05" [minWidth]="rongMacDinh" caption="QNF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate4"> </dxi-column>
            <dxi-column  [(visible)]="viewF"dataField="DV06" [minWidth]="rongMacDinh" caption="BGF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate5"> </dxi-column>
                
                

    <div *dxTemplate="let info of 'titleHeaderTemplate6'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>


    <div *dxTemplate="let info of 'titleHeaderTemplate0'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate1'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate2'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate3'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate4'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate5'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate6'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate7'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'titleHeaderTemplate8'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'titleHeaderTemplate9'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'titleHeaderTemplate10'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

    <div *dxTemplate="let info of 'titleHeaderTemplate11'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'titleHeaderTemplate12'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'titleHeaderTemplate13'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'titleHeaderTemplate14'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>
    <div *dxTemplate="let info of 'titleHeaderTemplate15'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>

</dx-data-grid>





<div class="w3-cell-row">
    <div class="w3-container  w3-cell w3-cell-middle">
        <dx-tabs [dataSource]="arrTabs" [width]="barWidth" [scrollByContent]="true" [showNavButtons]="true"
            (onItemClick)="chonTab($event)"></dx-tabs>
    </div>

    <div class="w3-container w3-cell w3-cell-middle">

        <dx-button icon="search" (onClick)="showFilter()">
        </dx-button>

    </div>


    <div class="w3-container  w3-cell w3-cell-middle">

        <dx-button icon="filter" (onClick)="showFilterModel()">
        </dx-button>


    </div>

</div>



<dx-popup maxWidth="600" [showTitle]="false" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="filterModelVisible">


    <div class="w3-cell-row">

        <div class="w3-container w3-cell w3-cell-top">
            <dx-check-box [(value)]="chonCKD" (onValueChanged)="chonXuatXuOnchange($event)" text="CKD"></dx-check-box>
            <br>

            <dx-check-box [(value)]="chonCBU" (onValueChanged)="chonXuatXuOnchange($event)" text="CBU"></dx-check-box>
        </div>
        <div class="w3-container w3-cell">


            <dx-list #list [dataSource]="cap2s" [height]="gridHeight -40" [selectionMode]="selectionModeValue"
                [selectAllMode]="selectAllModeVlaue" [showSelectionControls]="true" [(selectedItemKeys)]="keysSelect">
            </dx-list>
        </div>
    </div>


    <div style="position: absolute;right: 50px;bottom: 10px; ">
        <dx-button class="button-info" with="200" text="   Ok  " (onClick)="fillData()">
        </dx-button>
    </div>

    <div style="position: absolute;right: 150px;bottom: 10px;  ">
        <dx-button class="button-info" text="Cancel" (onClick)="closeFillModeData()">
        </dx-button>
    </div>

</dx-popup>



<!--
<dx-speed-dial-action
icon="filter"
label=""
[index]="1"
(onClick)="showFilter()">
</dx-speed-dial-action>
-->