



#navBarData  {
    text-align: center;
    position: absolute;
    bottom: 0;
  }


  #tab1  {
    text-align: center;
    position: absolute;
    bottom: 10;
  }

  /*
  ::ng-deep .dx-datagrid .dx-row > td {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 15px;
}
*/

::ng-deep .dx-tabs.dx-navbar {
  text-align: center;
  position: absolute;
  bottom: 0;
}

::ng-deep #gridDetail .dx-datagrid .dx-row > td {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 15px;

}


::ng-deep #gridDetail .dx-datagrid-headers {
  color: rgba(17, 1, 241, 0.972);
  touch-action: pinch-zoom;
  border-bottom: 1px solid #e0e0e0;
}