div.ExBoder17 {
    border: 1px solid rgb(4, 0, 255); 
    margin: 2px;
    background-color: rgb(255, 255, 255);
  }

::ng-deep .rect17{
text-align: center;
color: blue;
font-size: 16px;
font-weight: bold;
padding-top: 10px;
height: 100%;
}
::ng-deep .demo-light-17{
    background:  rgb(255, 255, 255);
}
