<div class="ExBoder17">
    <dx-box direction="col" width="100%" [height]="Height">
        <dxi-item class="rect17 demo-light-17" [ratio]="1">



            <div class="w3-container">
                <div class="w3-card-4" style="width:100%;">
                    <header class="w3-container w3-blue">
                        <h5>DT bảo hiểm/xe </h5>
                    </header>

                    <div class="w3-container">
                        <p> {{DTBaoHiemTrenXe| number}}</p>
                    </div>

                    <footer class="w3-container w3-blue">
                    </footer>
                </div>
            </div>
            <br>
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%;">
                    <header class="w3-container w3-blue">
                        <h5>Khuyến mại</h5>
                    </header>

                    <div class="w3-container">
                        <p> {{BaoHiemKhuyenMai| number}} </p>
                    </div>

                    <footer class="w3-container w3-blue">
                    </footer>
                </div>
            </div>

            <br>
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%;">
                    <header class="w3-container w3-blue">
                        <h5>Bán lẻ</h5>
                    </header>

                    <div class="w3-container">
                        <p> {{BaoHiemBanLe| number}} </p>
                    </div>

                    <footer class="w3-container w3-blue">
                    </footer>
                </div>
            </div>
        </dxi-item>




    </dx-box>

</div>