<div class="ExBoder18">
    <dx-box
        direction="col"
        width="100%"
        [height]="Height">
        <dxi-item
            class="rect18 demo-light-18"
            [ratio]="1">
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%;">
                    <header class="w3-container w3-blue">
                        <h5>Công nợ xe > 3T</h5>
                    </header>

                    <div class="w3-container">
                        <p> {{CongNoTren3Thang| number}}</p>
                    </div>

                    <footer class="w3-container w3-blue">
                    </footer>
                </div>
            </div>
            <br>
            <div class="w3-container">
                <div class="w3-card-4" style="width:100%;">
                    <header class="w3-container w3-blue">
                        <h5>Công nợ xe > 3T</h5>
                    </header>

                    <div class="w3-container">
                        <p> {{CongNoTren6Thang| number}} </p>
                    </div>

                    <footer class="w3-container w3-blue">
                    </footer>
                </div>
            </div>

            
        </dxi-item>

    </dx-box>

</div>
