<div class="ExBoder">
    <dx-box direction="col" width="100%" [height]="height">
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <h6>DOANH SỐ XE CŨ / xe</h6>
            </dxi-item>
        
            <dxi-item class="rect demo-light" [ratio]="1">
                <h6>Bán:  {{dataSource.xe_ban_05| number}}</h6>
            </dxi-item>
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <p>So KH: {{dataSource.htkh_05| number}}</p>
            </dxi-item>
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <p>So CK: {{dataSource.so_ck_05| number}}</p>
            </dxi-item>
       
    </dx-box>

</div>