<div class="ExBoder">
    <dx-box direction="col" width="100%" [height]="height">
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <h6>Tồn kho</h6>
            </dxi-item>
        
            <dxi-item class="rect demo-light" [ratio]="1">
                <h6>{{dataSource.thuc_hien_11| number}}</h6>
            </dxi-item>
       
            <dxi-item class="rect demo-light" [ratio]="1">
                <p>Hệ số tồn: {{dataSource.hs_ton_11| number}}</p>
            </dxi-item>
       
       
    </dx-box>

</div>