.name-menu {
    font-family: 'Raleway';
    font-size: large;
    font-weight: 700;
}


.circle-div {
    background-color: #314963;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    position: fixed;
    bottom: 21px;
    right: 25px;
}

.MyHeaderClass{
    text-align: center!important;  
}

.HeaderGrid {
    font-family: 'Raleway'; 
    font-weight: 700;
    color: black;
    text-align: center!important;
}