<div class="ExDiv">
<dx-chart id="chart" title="Tuần" [dataSource]="dataSource"
resolveLabelOverlapping="stack"
>

    <dxo-size
    [height]="height"
    [width]="width">
</dxo-size>

    <dxi-series  valueField="Xe_giao" name="Giao" [color]="color1">
        <dxo-label
        position = "inside"
        backgroundColor="tran"
        opacity = "0"
        [visible]="true"
        [format]="{
            type: 'fixedPoint',
            precision: '0'
        }"
        
        >
        <dxo-font [color] = 'colorF1'>
        </dxo-font>
    </dxo-label>
    </dxi-series>
  

    <dxi-series axis="CT3" type="line" valueField="LN_Xe" name="Lợi nhuận" [color]="color2">
    </dxi-series>


    <dxo-common-series-settings
    argumentField="Chi_tieu"
    type="bar"
    hoverMode="allArgumentPoints"
    selectionMode="allArgumentPoints">
    <dxo-label
        position = "inside"
        backgroundColor="tran"
        opacity = "0"
        [visible]="true"
        [format]="{
            type: 'fixedPoint',
            precision: '0'
        }"
        
        >
        <dxo-font [color] = 'color2'>

        </dxo-font>
        
    </dxo-label>
</dxo-common-series-settings>



    <dxi-value-axis 
    [visible]="true"
    autoBreaksEnabled="true"
    minDataValue = 0
    minValueMargin = "0" 
    maxValueMargin ="0"
    >
    <dxo-break-style 
        line ="waved">
    </dxo-break-style>
    <dxo-grid [visible]="true"></dxo-grid>
    </dxi-value-axis>


 


    <dxi-value-axis  name="CT3" position="right"
    minValueMargin = "0" maxValueMargin ="0"

    >
        <dxo-grid [visible]="true"></dxo-grid>
        <dxo-title text="Lợi nhuận"></dxo-title>
    </dxi-value-axis>

    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
    </dxo-legend>
    <dxo-export [enabled]="true"></dxo-export>
</dx-chart>
</div>