<dx-popup maxWidth="600" [showTitle]="false" title="Filter" [dragEnabled]="false" [closeOnOutsideClick]="false"
    [(visible)]="popupVisible">

    <div class="dx-fieldset">



        <div class="dx-field">
            <div class="dx-field-label">Từ ngày</div>
            <div class="dx-field-value">
                <dx-date-box [(value)]="tuNgayVal" type="date">
                </dx-date-box>
            </div>
        </div>


        <div class="dx-field">
            <div class="dx-field-label">Đến ngày</div>
            <div class="dx-field-value">
                <dx-date-box [(value)]="denNgayVal" type="date">
                </dx-date-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Khối</div>
            <div class="dx-field-value">
                <dx-select-box [dataSource]="donViCoSos" displayExpr="ten_nh" valueExpr="ma_nh" [(value)]="khoiVal" >

                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Đơn vị</div>
            <div class="dx-field-value">
                <dx-select-box [dataSource]="donviList" displayExpr="Ten_dvcs" valueExpr="Ma_dvcs" [(value)]="donviVal" [showClearButton]="true">

                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Cấp</div>
            <div class="dx-field-value">
                <dx-select-box [dataSource]="capCbxd" displayExpr="Ten" valueExpr="Ma" [(value)]="capVal" [showClearButton]="true">
                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Mã DRA</div>
            <div class="dx-field-value">
                <dx-select-box [dataSource]="bangDRA" displayExpr="ma_dra" valueExpr="ma_dra" [(value)]="draVal" [showClearButton]="true">
                </dx-select-box>
            </div>
        </div>

        

    </div>
    <div style="position: absolute;right: 50px;bottom: 10px; ">
        <dx-button class="button-info" with="200" text="   Ok  " (onClick)="fillData()">
        </dx-button>
    </div>

    <div style="position: absolute;right: 150px;bottom: 10px;  ">
        <dx-button class="button-info" text="Cancel" (onClick)="close()">
        </dx-button>
    </div>
</dx-popup>


<div class="long-title">
    <p>BÁO CÁO CƠ SỞ DỮ LIỆU KHÁCH HÀNG CR - Từ ngày {{this.tuNgayVal|date: 'dd-MM-yyyy'}} đến ngày {{this.denNgayVal|date: 'dd-MM-yyyy'}}</p>
</div>


<dx-data-grid id="gridDetail" [height]="gridHeight" [showColumnHeaders]="true" [dataSource]="reportDataArr1"
    [showBorders]="true" [focusedRowEnabled]="false" [focusedRowIndex]="0" [columnHidingEnabled]="false"
    [columnAutoWidth]="false" [showColumnLines]="true" [showRowLines]="true" [columnAutoWidth]="true"
    (onRowPrepared)="onRowPrepared($event)" [repaintChangesOnly]="true" (onCellPrepared)="onCellPrepared($event)"
    [rowAlternationEnabled]="false">

    <dxo-paging [enabled]="false"></dxo-paging>
    <dxo-scrolling mode="standard">
        <!-- or "virtual" | "infinite" -->
    </dxo-scrolling>

    <dxo-sorting mode="none">
        <!-- or "multiple" | "none" -->
    </dxo-sorting>


    <dxo-column-fixing [enabled]="true"></dxo-column-fixing>

    <dxo-sorting mode="none">
        <!-- or "multiple" | "none" -->
    </dxo-sorting>

    
    <dxi-column dataField="Ma_So" caption="Mã số" headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
    <dxi-column dataField="Chi_Tieu" caption="Chỉ tiêu" headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
    <dxi-column dataField="So_Luong" caption="Tổng cộng" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column>
    <dxi-column [(visible)]="viewT"  dataField="TH01" caption="TMD" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column>
    <dxi-column [(visible)]="viewT"  dataField="TH02" caption="TTX" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column>
    <dxi-column [(visible)]="viewT"  dataField="TH03" caption="TIHD" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column>
    <dxi-column [(visible)]="viewT"  dataField="TH04" caption="TBN" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column>
    <dxi-column [(visible)]="viewT"  dataField="TH05" caption="TTS" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column>
    <dxi-column [(visible)]="viewT"  dataField="TH06" caption="TPT" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column>


    <dxi-column [(visible)]="viewF" dataField="DV01" [minWidth]="rongMacDinh" caption="TLF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
            <dxi-column [(visible)]="viewF" dataField="DV02" [minWidth]="rongMacDinh" caption="TXF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
            <dxi-column [(visible)]="viewF" dataField="DV03" [minWidth]="rongMacDinh" caption="HNF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
            <dxi-column [(visible)]="viewF" dataField="DV04" [minWidth]="rongMacDinh" caption="LBF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
            <dxi-column  [(visible)]="viewF"dataField="DV05" [minWidth]="rongMacDinh" caption="QNF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
            <dxi-column  [(visible)]="viewF"dataField="DV06" [minWidth]="rongMacDinh" caption="BGF" format="#,##0"
                headerCellTemplate="titleHeaderTemplate0"> </dxi-column>
           
    <!-- <dxi-column dataField="TH07" caption="TH07" format="#,##0.#" headerCellTemplate="titleHeaderTemplate0">
    </dxi-column> -->
    

    <div *dxTemplate="let info of 'titleHeaderTemplate0'">
        <p style="font-size:16px">{{info.column.caption}}</p>
    </div>



</dx-data-grid>









<dx-speed-dial-action icon="filter" label="" [index]="1" (onClick)="showFilter()">
</dx-speed-dial-action>