<div class="ExDiv">
    <dx-chart id="dv01-db01" title="09. Doanh thu bảo hiểm" [dataSource]="dataSource"
    resolveLabelOverlapping="stack"
    >
    
        <dxo-size
        [height]="height"
        [width]="width">
    </dxo-size>
    
        <dxi-series  valueField="dt_bh_09" name="DT bảo hiểm" [color]="color1">
            <dxo-label
            position = "inside"
            backgroundColor="tran"
            opacity = "0"
            [visible]="true"
            [format]="{
                type: 'fixedPoint',
                precision: '0'
            }"
            
            >
            <dxo-font [color] = 'colorF1'>
            </dxo-font>
        </dxo-label>
        </dxi-series>
        <dxi-series   valueField="ke_hoach_bh_09" name="Kế hoạch" [color]="color2">
    
        <dxo-label
            position = "inside"
            backgroundColor="tran"
            opacity = "0"
            [visible]="true"
            [format]="{
                type: 'fixedPoint',
                precision: '0'
            }"
            
            >
            <dxo-font [color] = 'colorF2'>
    
            </dxo-font>
            
        </dxo-label>
    
        </dxi-series>

        <dxi-series axis="CT3" type="line" valueField="bh_xe_09" name="BH/Xe" [color]="color3">
        </dxi-series>
        
        <dxi-series axis="CT4" type="line" valueField="htkh_09" name="% HTKH" [color]="color4">
        </dxi-series>
    
    
        <dxo-common-series-settings
        argumentField="Ten_Dvcs"
        type="bar"
        hoverMode="allArgumentPoints"
        selectionMode="allArgumentPoints">
        <dxo-label
            position = "inside"
            backgroundColor="tran"
            opacity = "0"
            [visible]="true"
            [format]="{
                type: 'fixedPoint',
                precision: '0'
            }"
            
            >
            <dxo-font [color] = 'colorF3'>
    
            </dxo-font>
            
        </dxo-label>
    </dxo-common-series-settings>
    
    
    
        <dxi-value-axis 
        [visible]="true"
    
        >
        <dxo-break-style 
            line ="waved">
        </dxo-break-style>
        <dxo-grid [visible]="true"></dxo-grid>
        </dxi-value-axis>
    
    
     
    
    
        <dxi-value-axis  name="CT3" position="right"
        minValueMargin = "0" maxValueMargin ="0"
    
        >
            <dxo-grid [visible]="true"></dxo-grid>
            <dxo-title text="DT bảo hiểm trên xe"></dxo-title>
        </dxi-value-axis>

        <dxi-value-axis  name="CT4" position="right"
        minValueMargin = "0" maxValueMargin ="0"
    
        >
            <dxo-grid [visible]="true"></dxo-grid>
            <dxo-title text="% Tỷ lệ hoàn thành"></dxo-title>
        </dxi-value-axis>
    
        <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
        </dxo-legend>
        <dxo-export [enabled]="true"></dxo-export>
    </dx-chart>
    </div>